@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #19171c;
  --prim-color: #19171c;
  --prim-color-alt: #fba6ec;
  --sec-color: #f1f1f1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-prim-alt: var(--prim-color-alt);
  --color-prim: var(--prim-color);
  --color-sec: var(--sec-color);
  --font-inter: var(--font-inter);

  --animate-pulse-grow: pulse-grow 400ms ease-in-out forwards;
  --animate-pulse-in: pulse-grow 550ms ease-in;
  --animate-pulse-shift: pulse-shift 600ms ease-in;
  --animate-pulse-exit: pulse-exit 200ms ease-out;
  --animate-pulseY-in: pulseY-in 700ms ease-in-out forwards;
  --animate-pulseY-out: pulseY-out 700ms ease-in-out forwards;
  --animate-fade-in: fade-in 1.3s ease-in-out forwards;

  @keyframes pulse-grow {
      0% { transform: scale(1) }
      70% { transform: scale(1.11) }
      100% { transform: scale(1.08) }
  }

  @keyframes pulse-exit {
    0% { transform: scale(1) }
    70% { transform: scale(0.8) }
    100% { transform: scale(0.9) }
  }

  @keyframes pulse-shift {
    0% { margin: 0 0 0 0px; }
    70% { margin: 0 -6px 0 15px }
    100% { margin: 0 0 0 0px }
  }

  @keyframes pulseY-in {
    0% { transform: translateY(-20rem) }
    70% { transform: translateY(1rem)}
    100% { transform: translateY(0rem) }
  }

  @keyframes pulseY-out {
    0% { transform: translateY(0rem) }
    100% { transform: translateY(-20rem) }
  }

  @keyframes fade-in {
    0% { transform: translateY(-20rem) }
    100% { transform: translateY(0rem) }
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
